<div class="container-login" style="background-image: url('../../../../assets/img/bg-01.jpg');">
  <div class="main-panel">
    <div class="content">
      <div class="container">
        <div class="row content-center">
          <div class="col-md-6">
            <div class="card">
              <div class="card-header card-header-primary">
                <h4 class="card-title">Accede con tus credenciales</h4>
                <p class="card-category">Completa los campos</p>
              </div>
              <div class="card-body">
                <form [formGroup]="loginForm"
                      (ngSubmit)="sendLogin()"
                      autocomplete="off">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="bmd-label-floating">Usuario</label>
                        <input type="text" class="form-control" name="username" formControlName="username">
                      </div>
                      <span *ngIf="fieldNotValid('username')" class="text-danger">
                        Completa este campo
                      </span>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="bmd-label-floating">Contraseña</label>
                        <input type="password" class="form-control" autocomplete="off" formControlName="password">
                      </div>
                      <span *ngIf="fieldNotValid('password')" class="text-danger">
                        Completa este campo
                      </span>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <div class="form-group">
                          <label class=""> ¿Aún sin cuenta? <a routerLink="/auth/register">Registrate aquí</a> </label>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <div class="form-group">
                          <label class=""> <a routerLink="/auth/recovery">¿Olvide mi contraseña?</a></label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <mat-progress-bar mode="indeterminate" *ngIf="loader"></mat-progress-bar>
                  <button type="submit" class="btn btn-primary pull-left" [disabled]="clicked" clicked = true;>Ingresar</button>
                  <div class="clearfix"></div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer"></footer>
  </div>
</div>